<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
    {{{body}}}
    <div style="text-align: center;">
      <span style="font-size: .75em; color: #666666; margin-top: 40px;">
        This email was sent by <a href="{{domain}}">Fantasy Transaction Notifier</a>.
        <a href="{{domain}}/unsubscribe/{{user.id}}">Unsubscribe</a>
      </span>
    </div>
  </body>
</html>
